@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap");

:root {
  --foreground-rgb: 0, 0, 0;
  --bg-color: black;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: var(--bg-color);
}

body {
  font-family: "Libre Baskerville", serif;
}

.responsive-image {
  max-height: 100vh;
  width: auto;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
