@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --bg-color: rgb(0, 0, 0);
  --secondaryColour: #4f8062;
  --thirdColour: rgb(230, 194, 0);
}

body {
  font-family: var(--font-baskerville), sans-serif;
  color: rgb(var(--foreground-rgb));
  background-color: var(--bg-color);
}

.responsive-image {
  max-height: 100vh;
  width: auto;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
